.header {
    grid-area: h;
    background-color: green;
    display: grid;
    grid-auto-columns: 1fr 10fr;
    grid-template-rows: 1fr;
}

.header img {
    width: 80px;
}

.title {
    padding: 20px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
